<div class="container my-5">
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" [routerLink]="['/quotes', 'add']">
      Add Quote
    </button>
  </div>

  <h1 class="mb-3">Quotes</h1>

  <!-- Display all quotes as cards -->
  <div class="card mb-3" *ngFor="let quote of quotes">
    <div class="card-body">
      <p class="card-text font-italic">{{ quote.title }}</p>
      <h6 class="card-subtitle mb-3 text-end">"{{ quote.author }}"</h6>
    </div>
  </div>

  <p *ngIf="!quotes || quotes.length === 0">No Quotes Found</p>
</div>
