
/* Adjust styles for screens up to 320px */
@media (max-width: 320px) {
    .container {
        padding: 1px; /* Adjust padding for smaller screens */
    }

    .btn {
        font-size: 12px; /* Adjust button font size */
    }

    .table {
        font-size: 12px; /* Adjust table font size */
    }

    h1 {
        font-size: 20px; /* Adjust heading font size */
    }
}
@media (max-width: 375px) {
    .container {
        padding: 1px; /* Adjust padding for smaller screens */
    }

    .btn {
        font-size: 12px; /* Adjust button font size */
    }

    .table {
        font-size: 12px; /* Adjust table font size */
    }

    h1 {
        font-size: 20px; /* Adjust heading font size */
    }
}