<div class="container my-5">
    <h1 class="mb-3"> Add New Quote</h1>
    <form #form="ngForm" (ngSubmit)=" addQuote()">
     <div class="mb-3">
       <label for="title" class="form-label">Quote</label>
       <input type="text" class="form-control" id="title"
       name="title" [(ngModel)] = "addQuoteRequest.title" >
     </div>
     <div class="mb-3">
         <label for="author" class="form-label">Author</label>
         <input type="text" class="form-control" id="author"
         name="author" [(ngModel)] = "addQuoteRequest.author">
       </div>
       <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Save</button>
   </form>
 
 </div>
 
